<div class="photographer-card">
	<p class="photographer-icon">
		<img src={{packageData.photographerIcon}} alt={{packageData.photographerName}} (contextmenu)="onRightClick($event)">
	</p>
	<p class="price">{{packageData.price|priceformat:"USD"}}</p>
	<p class="desc">{{packageData.packageDesc}}</p>
	<ul class="galery">
		<li *ngFor="let fi of packageData.featuredImages">
			<img src={{fi.source}} alt={{fi.imageName}} (contextmenu)="onRightClick($event)">
		</li>
	</ul>
	<a class="packageLink" href={{packageData.packageLink}}>View package</a>
	<div class="followers-and-reaction-block">
		<p class="followers">Followers: {{packageData.followers | number}}</p>
		<fa-icon
		class="heart-icon"
		[icon]="['fas', 'heart']"
		[class.active]="packageData.liked"
		(click)="like()"></fa-icon>
	</div>
</div>
