<header>
	<div class="container header-contents">
		<p class="logo"><img src="assets/images/build-my-photo.svg"></p>
		<fa-icon class="show-in-sp" icon="bars" (click)="menuOpened=!menuOpened"></fa-icon>
		<div class="sidenav"  *ngIf="menuOpened">
			<p class="sidenav-title show-in-sp">Menu</p>
			<ul class="link-block">
				<li><a href="#">Browse</a></li>
				<li><a href="#">How It Works</a></li>
				<li><a href="#">Photographer?</a></li>
			</ul>
			<ul class="link-access">
				<li><a href="#">Sign in</a></li>
				<li><a href="#">Sign up</a></li>
				<li><button class="green-btn">Post a Project</button></li>
			</ul>
		</div>
	</div>
</header>