@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/functions.scss';


header{
	padding: 17px 0;
	border-bottom: 3px solid #efeff0;
}
ul{
	margin-bottom: 0;
}

.logo{
	margin: 0 58px 0 0;
}


a{
	color: #47494f;
}
.link-block,
.link-access,
.header-contents{
	display: flex;
	align-items: center;
}
.link-access,
.link-block{
	li{
		margin-right: 42px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.link-access{
    margin-left: auto;
}
