<div class="photographer-card">
	<fa-icon class="heart-icon" [icon]="['fas', 'heart']"></fa-icon>
	<p class="photographer-icon"><img src={{photographerCard.icon}} alt=""></p>
	<p class="name">{{photographerCard.name}}</p>
	<p class="country">{{photographerCard.country}}</p>
	<p class="price">{{photographerCard.rate}}</p>
	<p class="professional-description">{{photographerCard.professionalDescription}}</p>
	<p></p>
	<a class="white-button" href={{photographerCard.profileLink}}>View Profile</a>
</div>







