<div class="banner-area">
	<h1 class="attention-text">You Dream It, We Build It</h1>
	<div class="banner-desc">
		<p>Spend less time searching for stock images and let professional photographers create outstanding photos that meet your neeeds.</p>
	</div>
	<button>Hire a Photographer</button>
</div>
<section class="section area01">
	<div class="container">
		<h2>What do you need to get done?</h2>
		<ul class="list-todo">
			<li *ngFor = "let todo of todoList">
				<div class="todoContainer">
					<img src={{todo.imgSrc}} alt="####">
					<h3>{{todo.text}}</h3>
				</div>
			</li>
			
		</ul>
		<h2>Samples from our top sellers</h2>
		<div class="gallery">
			<ul>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
				<li>
					<img src="assets/images/" alt="####">
					<div class="photographer-info">
						<span><img src="" alt=""></span>
						<p class="photographer-name">Jemuel Elimanco</p>
					</div>
				</li>
			</ul>
		</div>
		<h2>Get it done in 3 simple steps</h2>
		<div class="steps">
			<div class="row">
				<div class="col-sm-4" *ngFor="let s of steps">
					<div class="step-card">
						<h3 class="title">{{s.title}}</h3>
						<p class="step-desc">{{s.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section area02">
	<div class="container">
		<h2>Fixed price offers ready to start immediately</h2>
		<div class="photographer-rate">
			<div class="photographer-card">
				<p class="photographer-icon">
					<img src="" alt="photographer name">
				</p>
				<p class="rate">500</p>
				<p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div class="galery">
					<ul>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
						<li><img src="" alt=""></li>
					</ul>
				</div>
				<a href="">View package</a>
				<div class="followers-and-reaction-block">
					<p>Followers: 4000</p>
					<span>action</span>
				</div>
			</div>
		</div>
		<a href="#" class="btn">Browse More Packages</a>
	</div>
</section>
