<div class="banner-area">
	<h1 class="attention-text">You Dream It, We Build It</h1>
	<div class="banner-desc">
		<p>Let professional photographers build your image</p>
	</div>
	<button class="banner-btn green-btn">Hire a Photographer</button>
</div>
<section class="section area01">
	<div class="container">
		<h2>What do you need to get done?</h2>
		<ul class="list-todo">
			<li *ngFor = "let todo of todoList">
				<div class="todoContainer">
					<fa-icon class="icon" icon= {{todo.icon}}></fa-icon>
					<h3>{{todo.text}}</h3>
				</div>
			</li>
		</ul>
		<h2 class="fz18">Photographers around the world ready to build your image</h2>
		<div class="gallery-container">
			<ul class="gallery-data">
				<li
				class="gallery-image-container"
				*ngFor="let imgData of galleryData"
				routerLink="/visitorprofile"
				(contextmenu)="onRightClick($event)">
					<img
					class="gallery-image"
					src={{imgData.sampleImg}}
					alt={{imgData.sampleImgAlt}}
					(contextmenu)="onRightClick($event)">
					<!-- <div class="gradient-hover"></div> -->
					<div class="image-info">
						<span class="photographer-icon"><img src={{imgData.photographerIcon}} alt={{imgData.photographerName}}></span>
						<span class="photographer-name">{{imgData.photographerName}}</span>
					</div>
				</li>
			</ul>
		</div>
		<h2>Get it done in 3 simple steps</h2>
		<div class="steps">
			<div *ngFor="let s of steps">
				<div class="step-card">
					<h3 class="title">{{s.title}}</h3>
					<p class="step-desc">{{s.description}}</p>
				</div>
			</div>
		</div>
		<button class="green-btn post-project">Post a Project</button>
	</div>
</section>
<section class="section area02">
	<div class="container">
		<h2>Fixed price offers ready to start immediately</h2>
		<ul class="pricing-pakages-container">
			<li class="package"
			*ngFor="let ppp of photographerPricingPakages">
				<app-package-card [packageData]="ppp"></app-package-card>
			</li>
		</ul>
		<button class="green-btn more-btn">Browse More Packages</button>
	</div>
</section>

