<div class="visitor-profile">
	<div class="banner" [style.background-image]="'url('+timelinePicture.source+')'">
		<div class="container">
			<div class="contact-info-container">
				<p class="profile-picture"><img src={{profilePicture.source}} alt={{profilePicture.imageName}}></p>
				<div class="info">
					<p class="name">{{userInfo.name}}</p>
					<p class="country">{{userInfo.country}}</p>
					<p class="email">{{userInfo.email}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container profile-contents">
		<div class="profile-info">
			<div class="job-rating">
				<div class="actions">
					<button class="bordered-button">follow</button>
					<button class="green-btn">message</button>
				</div>
				<p class="number-of-followers">197,098 Followers</p>
				<label class="label">Rating</label>
				<div class="stars data">
					<fa-icon *ngFor="let i of ratingStars" class="icon" icon="star"></fa-icon>
				</div>
				<div class="info-block">
					<label class="label">Languages</label>
					<p class="data">{{userInfo.languages.join(", ")}}</p>
				</div>
				<div class="info-block">
					<label class="label">Projects Completed</label>
					<p class="data">{{userInfo.projectsCompleted}}</p>
				</div>
				<div class="info-block">
					<label class="label">Status</label>
					<p class="data">{{userInfo.status}}</p>
				</div>
				<div class="info-block">
					<label class="label">Location</label>
					<p class="data">{{userInfo.location}}</p>
				</div>
				<div class="badges-container">
					<label class="label">Badges</label>
					<ul class="badges">
						<li class="badge"></li>
						<li class="badge"></li>
						<li class="badge"></li>
					</ul>
				</div>
			</div>
			
		</div>
		<div class="main">
			<div class="contents">
			<p class="title">Photographer/Illustrator</p>
			<p class="desc">Lorem ipsum dolor sit amet, eu melius corrumpit concludaturque eos, no tation aeterno aliquam eos. An harum utroque constituam nec, at molestie moderatius omittantur est. Cu vis inermis habemus invenire, aperiam docendi an vis, ei suas latine facilisi est. Ex eos soleat persecuti forensibus, sed facete splendide ne, partem maluisset accommodare eos eu. Duo ad reque splendide, nec tantas persius ex, nostrud scripserit no eum. Usu ei aeterno platonem, ius ne suas populo tritani.</p>
			<!-- Tabs here -->
			<tabset class="tabs-container">
				<tab heading="Portfolio" [active]="true">
					<div class="portfolio-container">
						<ul class="portfolio-gallery">
							<li class="image-container" *ngFor="let portfolioImg of porfolioImages">
								<img
								src={{portfolioImg.source}} 
								alt={{portfolioImg.imageName}}>
							</li>
						</ul>
					</div>
				</tab>
			    <tab heading="Packages">
			    	<ul class="package-container">
			    		<li class="package" *ngFor="let ppp of photographerPricingPakages">
			    			<app-package-price-card [packageData]="ppp"></app-package-price-card>
			    		</li>
			    	</ul>
			    </tab>
			    <tab heading="Reviews">Basic content 2</tab>
			</tabset>
			</div>
		</div>
	</div>
</div>