<div class="sign-up">
	<h2>sign up</h2>
	<p class="login-par">Already have an account? <a href="#">Login</a></p>
	<div class="signup-form-container">
		<form>
		  <div class="name">
		  	<input type="text" placeholder="First Name" name="firstname">
		  	<input type="text" placeholder="Last Name" name="lastname">
		  </div>
		  <div class="email-and-password">
		  	<input type="email" placeholder="Email" name="email">
		  	<input type="password" placeholder="Password" name="password">
		  </div>
		  <div class="account-type">
		  	<p>Account Type</p>
		 		<div class="choice-container">
		 			<div class="radioSelection"><input type="radio" name="accounttype" value="Buyer" id="buyer"><label for="buyer">Buyer</label></div>
				  <div class="radioSelection"><input type="radio" name="accounttype" value="Seller" id="seller"><label for="seller">Seller</label></div>
				  <div class="radioSelection"><input type="radio" name="accounttype" value="Both" id="both"><label for="both">Both</label></div>
		 		</div>
		 		<div class="capcha">
		 			<p><img src="assets/images/capcha_temp.jpg" alt="capcha"></p>
		 		</div>
		 		<div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="agree">
			    <label class="form-check-label" for="agree">I agree to the Terms & Conditions</label>
			  </div>
		  </div>
		  <button type="submit" class="submit-data">Get Started</button>
		</form>
	</div>
</div>