<div class="messenger">
	<div class="container">
		<h2>Messenger</h2>
		<div class="chat-container">
			<div class="contact-list">
				<app-contacts></app-contacts>
			</div>
			<div class="chat-body">
				<div class="chat-header">
					<div class="chat-picture">
						<img src="assets/images/photographerIcon/photographerIcon_01.jpg" alt="">
					</div>
					<div class="chat-data">
						<p class="chat-name">Johnnattan</p>
						<p>United Kingdom</p>
					</div>
					<a>View Proposal</a>
					<p class="more"><fa-icon class="icon" [icon]="['fas', 'ellipsis-h']"></fa-icon></p>
				</div>
				<div class="chat-content">
					<div class="message">
						<div class="sender-img">
							<img src="assets/images/photographerIcon/photographerIcon_01.jpg" alt="">
						</div>
						<p class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel! Placeat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>