/* You can add global styles to this file, and also import other style files */
@import './assets/scss/reset.scss';
@import "~bootstrap/dist/css/bootstrap.css";
/* @import "~font-awesome/css/font-awesome.css"; */
@import './assets/scss/variables.scss';
@import './assets/scss/functions.scss';


body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 1630px) {
    html .container{
        max-width: 1630px;
    }
}
@media (min-width: 1200px) {
    html .container{
        max-width: 1630px;
    }
}
button{
	border: 0;
	color: #fff;
	padding: 0 35px;
	// width: 223px;
	margin: 0 auto;
	height: 50px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	@include border-radius(0);
}
.green-btn{
	background-color: $color-primary;
	@include border-radius(0);
}

.black-btn{
	background-color: #252a30;
}
.mb60{
	margin-bottom: 60px!important;
}
.mlrAuto{
	margin: 0 auto;
}